.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}

.userAvatar img {
  border-radius: 50%;
}
